.pagination {
    display: flex;
    gap: 0.75rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.pageNumber,
.arrow {
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
}

.pageNumber:disabled,
.arrow:disabled {
    cursor: default;
}

.pageNumber {
    padding: 0.5rem;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
}
